<form class="bg-dark p-4">
    <h2 class="form-group m-2 fw-bold text-light">Complete to Register</h2>
    <div class="form-group m-2">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name">
      
      </div>
    <div class="form-group m-2">
      <label for="exampleInputEmail1">email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    
    </div>
    <div class="form-group m-2">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary m-2">Create</button>
    
    

    <div class="form-group m-2">
        <a routerLink="/auth/login">Back to login</a>
    </div>

  </form>
