
<div class="row p-5 ">
    @for (car of carsList; track $index) {
      <div class="d-grid  col-lg-3 col-md-4 col-sm-12 gap-3 mb-4 px-2">
        <div class="card">
          <img class="card-img-top" [src]= "'data:image/jpeg;base64,'+ car.returnedImg"  alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ car.name }}</h5>
            <p class="card-text">{{ car.description }}</p>
            <a href="#" class="btn btn-primary">Ver detalles</a>
          </div>
        </div>
      </div>
    }
  </div>