<nav class="container-fluid navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/auth/login">Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              maintenance
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/heroes/list">list</a></li>
              <li><a class="dropdown-item" routerLink="/heroes/new-hero">agregar</a></li>
              <li><a class="dropdown-item" routerLink="/heroes/search">search</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">others</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <a class="btn" routerLink="/heroes/list">Close</a>
      
    </div>
</nav>
<router-outlet></router-outlet>
